<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="../../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="col-md-2 menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">More Stuff</a>
        </li>
        <!-- <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li> -->
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="static/files/resume.pdf" target="_blank">Resume</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/planner">Loan Planner</a>
        </li>

      </ul>
    </nav>

    <!-- Header -->
    <!-- <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Stylish Portfolio</h1>
        <h3 class="mb-5">
          <em>A Free Bootstrap Theme by Start Bootstrap</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
      <div class="overlay"></div>
    </header> -->

    <!-- About -->


    <!-- Services -->
    <!-- <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Responsive</strong>
            </h4>
            <p class="text-faded mb-0">Looks great on any screen size!</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Redesigned</strong>
            </h4>
            <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>Favorited</strong>
            </h4>
            <p class="text-faded mb-0">Millions of users
              <i class="fa fa-heart"></i>
              Start Bootstrap!</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Question</strong>
            </h4>
            <p class="text-faded mb-0">I mustache you a question...</p>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Callout -->
    <!-- <section class="callout">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">Welcome to
          <em>your</em>
          next website!</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
      </div>
    </section> -->

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5 text-muted"> Ozzy </h1>
          <h3 class="text-secondary mb-0">Maker, Hacker and Yellow Jacket</h3>
          <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
          <h4 class="mb-5 text-muted">Selected Projects</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="../../static/files/2015GTDBF.pdf" target="_blank">
              <span class="caption">
                <span class="caption-content">
                  <h2>GT DBF 2015 Plane</h2>
                  <p class="mb-0">Winning Design Report for AIAA DBF 2015</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/img/gtdbf2015.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Alexa, Who?</h2>
                  <p class="mb-0">Alexa skill using facebook and opencv to detect friends near a camera</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/img/echo.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="https://twitter.com/Ozzy_Armas/status/984465390372818944" target="_blank">
              <span class="caption">
                <span class="caption-content">
                  <h2>Silly Robot</h2>
                  <p class="mb-0">Nothing like a silly robot to brighten your day!</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/img/botbox.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="https://www.youtube.com/watch?v=PsNYEIyRJWo" target="_blank">
              <span class="caption">
                <span class="caption-content">
                  <h2>FRC 5329</h2>
                  <p class="mb-0">Co-Founder and President of Team 5329</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/img/team5329.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- About Me -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>About Me</h2>
            <div class="lead mb-5">
            <p>
              My name is Osvaldo Armas, but I often go by Ozzy. I am your classic, sassy, latino, nerd. I love tinkering and making things I can bring to life; where people and technology shake hands. Some of my goals are to make a positive difference, become a college professor, and bring the power of Cuban Coffee to the American North.
            </p>
            <p>
              When my parents and I migrated to the United States (Northern Cuba/Miami) we were very fortunate (sarcasm) to arrive during the recent recession. As a result, my dad and I found ourselves performing a myriad of jobs. We dug holes on concrete to locate pipelines, and delivered newspaper and pizza. My dad later became an Uber driver and I was able to continue focusing on my education. During my senior year, at a new high school, I was fortunate enough to find a group of driven individuals. Together, we found S(A^3)S Robotics (FRC TEAM 5329).I was the president and team captain.
            </p>
            <p>
              Now, I am a proud, fifth(?)-year, Yellow Jacket, at Georgia Tech. I'm a Computer Science major concentrating in devices and intelligence. I wish to pursue a Ph.D. in Human Robot Interaction. Once I have gathered plenty of experience from internships and academia, I plan to start my own company where I'll strive to see my goal of a robot in every home across the globe.
            </p>
            <p>
              Feel free to contact me. I’d be happy to talk about anything but Jobs, opportunities and robotics will peak my interest.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <!-- <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
      </div>
    </section> -->

    <!-- Map -->
    <!-- <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
      <br/>
      <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
      </small>
    </section> -->

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/osvaldo-armas-812860a2" target="_blank">
              <i class="icon-social-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/ozzy_armas" target="_blank">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="mailto:oarmas3@gatech.edu" target="_blank">
              <i class="icon-envelope"></i>
            </a>
          </li>
          <!-- <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li> -->
        </ul>
        <p class="text-muted small mb-0">&copy; work in progress</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../static/js/stylish-portfolio.min.js"></script>

  </body>

</html>
