{% block income_form %}
    <hr class="mb-6">
    <div class="row">
      <div class="col-md-6 mb-5">
        <label for="incomeName">Income Source</label>
        <input type="text" class="form-control IncomeName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Please indicate  a income source
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label for="lastName">Amount (post taxes)</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" > $ </span>
          </div>
          <input type="text" class="form-control IncomeAmount" placeholder="" value=0.0 required>
          <div class="invalid-feedback">
            Please enter a valid amount
          </div>
        </div>
      </div>
    </div>
{% endblock %}
