{% block totals %}
<div class="col-md-3 order-md-2 mb-1">
  <div class="position-fixed">
    <h5 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Loans</span>
      <span class="badge badge-secondary badge-pill"> 1 </span> <!-- Coded Value -->
    </h5>
    <h5 class="d-flex justify-content-end align-items-center mb-3">
        <span class="badge badge-light mb-1">Total Owed</span>
        <span class="badge badge-light mb-1"> $ 20</span>
    </h5>
    <h5 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Incomes</span>
      <span class="badge badge-secondary badge-pill"> 1 </span> <!-- Coded Value -->
    </h5>
    <h5 class="d-flex justify-content-end align-items-center mb-3">
        <span class="badge badge-light mb-1">Total Income</span>
        <span class="badge badge-light mb-1"> $ 20</span>
    </h5>
    <h5 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Assets</span>
      <span class="badge badge-secondary badge-pill"> 1 </span> <!-- Coded Value -->
    </h5>
    <h5 class="d-flex justify-content-end align-items-center mb-3">
        <span class="badge badge-light mb-1">Total Assets</span>
        <span class="badge badge-light mb-1"> $ 20</span>
    </h5>
    <h5 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Other Expenses</span>
      <span class="badge badge-secondary badge-pill"> 1 </span> <!-- Coded Value -->
    </h5>
    <h5 class="d-flex justify-content-end align-items-center mb-3">
        <span class="badge badge-light mb-1">Total Expenses</span>
        <span class="badge badge-light mb-1"> $ 20</span>
    </h5>
  </div>
</div>
{% endblock %}
